$timetable-day-z-index: 5;
$timetable-cell-z-index: 1;
$timetable-selected-cell-z-index: 10;

$search-bar-z-index: 30;
$search-bar-results-z-index: 30;
$search-bar-back-z-index: 30;
$search-bar-bg-z-index: 20;
