$empty-page-width: 200px;

.emptyPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.emptyPageIcon {
  width: $empty-page-width;
  margin-bottom: 24px;
}

.emptyPageText {
  width: $empty-page-width * 2;
  text-align: center;
}
