.navbar {
  background-color: cadetblue;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
    padding: 8px;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  background-color: #eee;
  padding: 8px;
  margin-right: 16px;
}

a:hover {
  opacity: 50%;
  font-weight: bold;
}
