@import './_variables.scss';

$timetable-padding: 16px;
$timetable-min-width: $timetable-row-height * 16;

.timetableWrapper {
  padding: $timetable-padding;
  width: 100%;
}

.timetableScroll {
  overflow: auto;
  width: 100%;
}

.timetableContainer {
  width: 100%;
  min-width: $timetable-min-width;
}

.timetableList {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin: 0;
  border: $timetable-border;
  border-left-width: 0;
  border-radius: $btn-border-radius;
}
