@use '../../styles/breakpoints' as *;
@use '../../styles/constants/z-index' as z;
@use '../../styles/constants/components' as c;

.resultsContainer {
  position: absolute;
  top: 64px;
  height: calc(100vh - 64px);
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  z-index: z.$search-bar-results-z-index;

  @include media-breakpoint-up(sm) {
    width: c.$search-bar-width;
  }

  @include media-breakpoint-down(sm) {
    width: 100vw;
    padding: 0;
    left: 0;
  }
}

// Makes results div transparent so that components below can be clicked
.disableClick {
  pointer-events: none;
}

.resultsListWrapper {
  padding: 16px;
  margin: 0;
}

.resultsListScroll {
  overflow: auto;
  height: 100%;
}
