$search-bar-width: 50ch;

.resultsContainer {
  position: absolute;
  top: 64px;
  height: calc(100vh - 64px);
  width: $search-bar-width;
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  transition: opacity 200ms ease-in;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
  display: none;
}

.resultsLoader {
  margin: auto auto;
}

.resultsListWrapper {
  padding: 16px;
  margin: 0;
}

.resultsListScroll {
  overflow: auto;
  height: 100%;
}
